
/* GENERAL */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Roboto,  sans-serif;
    font-size: 17px;
}

/* utilities  */

.flex{
    display: flex;
}

.btn{
    cursor: pointer;
    padding: 14px 20px;
    position: relative;
    bottom: 12px;
    border-radius: 12px;
    border:none;
    font-size: 16px;
}


/* HEADER */
.main-header {
    padding: 40px;
}

.main-header ul li{
    padding: 0 20px;
    list-style: none;
}

.main-header a{
    cursor: pointer;
    text-decoration: none;
    color: rgb(139, 149, 158);
    font-weight: 300;
    
}

.main-header a:hover{
    color:#403c3c;;
}

.space{
    flex-grow: 1;
}

/* BUTTON */

.btn.sign{
    margin-left: 25px;
    margin-right: 15px;
}

.btn.get{
    color: #fff;
    background-color: black;
}

.btn.get:hover{
    opacity: 0.8 ;
 }

.btn.sign:hover{
    background-color: rgb(233, 230, 230);
 }



 /* DROPDOWN MENU */

.dropdown{
    position: relative;
}

.dropdown-menu{
    display: none; /* JS */
    position: absolute;
    top: 80%;
    left:0;
    width:180px;
    padding: 20px 0;
    filter:drop-shadow(0 0 5px rgba(0,0,0, .1));
    background:#fff;
    border-radius: 6px;
    
}

.dropdown-menu li:not(:last-child){
    margin-bottom: 35px;
 }



.active{
    display: block;
}
