
/* GENERAL */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Roboto,  sans-serif;
}

/* utilities  */

.flex{
    display: flex;
}

.btn{
    cursor: pointer;
    padding: 14px 20px;
    position: relative;
    bottom: 12px;
    border-radius: 12px;
    border:none;
    font-size: 16px;
}


/* HEADER */
.main-header {
    padding: 40px;
}

.main-header ul li{
    padding: 0 20px;
    list-style: none;
}

.main-header a{
    cursor: pointer;
    text-decoration: none;
    color: gray;
}

.main-header a:hover{
    color:#403c3c;;
}

.space{
    flex-grow: 1;
}

/* BTN */

.btn.sign{
    margin-left: 25px;
    margin-right: 15px;
}

.btn.get{
    color: #fff;
    background-color: black;
}

.btn.get:hover{
    opacity: 0.8 ;
 }

.btn.sign:hover{
 background-color: rgb(233, 230, 230);
 }