
/* GENERAL */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Roboto, sans-serif;
    font-size: 17px;
}

/* utilities  */

.flex{
    display: flex;
}

.btn{
    cursor: pointer;
    padding: 14px 20px;
    position: relative;
    bottom: 12px;
    border-radius: 12px;
    border:none;
    font-size: 16px;
}

.main-header .notyet{
    cursor:default;
    color:rgb(189, 186, 186);
}

.pos-relative{
    position: relative;
 }



/* HEADER */
 .main-header {
    padding: 60px 120px;
}

.main-header ul li{
    padding: 0 20px;
    list-style: none;
}

.main-header a{
    cursor: pointer;
    text-decoration: none;
    color: rgb(139, 149, 158);
    font-weight: 300;
}

.main-header a:hover:not(.notyet){
    color:#403c3c;;
}

.space{
    flex-grow: 1;
}

/* BUTTON */

.btn.sign{
    margin-left: 25px;
    margin-right: 15px;
}

.btn.get{
    color: #fff;
    background-color: black;
}

.btn.get:hover{
    opacity: 0.8 ;
 }

.btn.sign:hover{
    background-color: rgb(233, 230, 230);
 }



 /* DROPDOWN MENU */

.dropdown-menu{
    display:none;   /* js */
    position: absolute;
    top: 80%;
    left:0;
    width:180px;
    padding: 20px 0;
    filter:drop-shadow(0 0 5px rgba(0,0,0, .1));
    background:#fff;
    border-radius: 6px;
    
}

.dropdown-menu li:not(:last-child){
    margin-bottom: 35px;
 }


/*  dropdown menù features */

 .dropdown-menu.features{
    position: absolute;
    top: 80%;
    left: -270px;
    width: 900px;
 }

 .dropdown-menu.features ul:not(:last-child){
     margin-right: 60px;
 }

 .dropdown-menu.features h3{
     display:inline-block;
     padding-left: 5px;
     text-transform: uppercase;
     font-size: 12px;
     font-weight: 400;
     color:  rgb(182, 190, 197);;

 }

 .image{
     width:25px;
     vertical-align: middle;
     background:grey;
     border-radius: 50%;
     border: 2px solid grey;
     opacity: 0.4;
     filter: grayscale(100%);
    
 }

 /* coming soon */ 

 .pos-relative li .coming-soon{
  text-transform: uppercase;
  font-size: 8px;
  color:rgb(88, 129, 218);
  position: absolute;
  bottom: 20px;
  right: -20px;
 }

 .pos-relative  .coming-soon.rewards{
     right:70px;
 }



/* js */

 .underline{
     padding:5px;
     border-bottom: 2px solid rgb(197, 197, 197);
 }



 /* MAIN */

 /* hero */
.container{
    max-width: 1350px;
    margin: 0 auto;
}

 .hero h1{
     font-size: 75px;
 }

 .hero p{
    width:70%;
    line-height: 25px;
    margin-top: 40px;
    color: rgb(139, 149, 158);
    font-weight: 300;
 }

 .hero .text{
     width:50%;
     position: relative;
     top:50px;
 }

 .hero form{
    margin-top: 40px;
}

 input[type="text"],
 select{
     margin-right: 10px;
     color:rgb(139, 149, 158); 
     border:none;
     border-bottom: 1px solid rgb(201, 199, 199); 
     font-size: 18px;  
 }

.btn.get-started{
    position: relative;
    bottom: 5px;
    margin-left: 10px;
    padding: 18px 20px;
    color:rgb(175, 175, 175);
    background:rgb(75, 74, 74);
}

.hero p:last-child{
    color:black;
    font-size: 15px;
    font-weight: 500;

}

.fa-clock{
    margin-right: 15px;
}


.hero-image img{
    margin-left: 80px;
    width:470px;
}